streamlit>=1.28
streamlit-pills
openai>=1.2
streamlit-feedback
datasets>=2.17
evaluate>=0.4
sentence-transformers>=2.3
cohere>=4.47
llama-index>=0.10
llama-hub>=0.0.44
llama-index-indices-managed-vectara>=0.1
transformers[sentencepiece]
